vendor/
node_modules/
bootstrap/compiled.php
app/storage/
bootstrap/cache/
.env.*.php
.env.php
.env

.DS_Store
**/.DS_Store
.idea/
**/.idea

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

composer.lock

tests/Unit/Factories/__snapshots__/
